node_modules/
.pnpm-store/

dist/
.next/
out/

.turbo/

__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.flat

.env
.env.local
.env.prod
.env.*.local

*.log
log/

*.db
*.sqlite
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

pgdata/
