@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
    --color-accent1: #ff9e3d;
    --color-accent2: #eeba93;
    --color-accent3: #ffeada;
    background-color: #000;
    color: #fff;
    font-family: "Product Sans", "Google Sans";
}

* {
    margin: 0;
}

body {
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

::view-transition-old(root) {
    animation: fade-out 0.3s ease forwards;
}
::view-transition-new(root) {
    animation: fade-in 0.3s ease forwards;
}
.loading-container {
    width: 200px;
    height: 10px;
    border-radius: 100px;
    background-color: #fff1;
}
.loading-container .bar {
    height: 100%;
    width: 50px;
    background-color: #fff5;

    border-radius: 100px;
    animation: loading-bar 2s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes loading-bar {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(150px);
    }
    100% {
        transform: translateX(0);
    }
}
